{
$home_link = '';
if (!$home) { $home_link='<li class="button nav-button-logo">
  <a href="index.html">
    <img alt="Home" src="img/logo-semi-opacity.png" height=60 style="position: absolute; float: left; top: 5px;" />
  </a>
</li>' ; } '' ; }
<!-- SPACER -->
<nav class="content-wrapper">
  <ul class="nav-group">
    {$home_link}
    <li class="button nav-button"><a class="nav-button-link" href="play.html">Play</a>
    <li class="button nav-button"><a class="nav-button-link" href="https://7kfans.com/forums">Forums</a>
    <li class="button nav-button"><a class="nav-button-link" href="community/index.html">Community</a>
    <li class="button nav-button"><a class="nav-button-link" href="latest.html">Downloads</a>
  </ul>
</nav>