<!-- SPACER -->
<nav class="content-wrapper">
  <ul class="nav-group">
{
    if (!$home) {
      return <<EOF;
    <li class="button nav-button-logo">
      <a href="${base_path}index.html">
        <img alt="Home" src="${base_path}img/logo-semi-opacity.png" height=60
          style="position: absolute; float: left; top: 5px;" />
      </a>
    </li>
EOF
    }
    return '';
}    <li class="button nav-button">
      <a class="nav-button-link" href="{$base_path}play.html">Play</a>
    </li>
    <li class="button nav-button">
      <a class="nav-button-link" href="{$forum_path}forums">Forums</a>
    </li>
    <li class="button nav-button">
      <a class="nav-button-link" href="{$base_path}community.html">Community</a>
    </li>
    <li class="button nav-button">
      <a class="nav-button-link" href="{$base_path}download/">Downloads</a>
    </li>
  </ul>
</nav>
