<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses

Copyright 2021 Lenny Andreu
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Seven kingdoms ancient adversaries PC game">
    <meta name="keywords" content="seven kingdoms, ancient adversaries, pc, game, videogame, 7kaa, 7k">
    <title>{$title}</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/favicon.png" type="image/png">
</head>
<body>
<div class="main-container">
<nav class="content-wrapper">
    <ul class="nav-group">
        <li class="button nav-button-logo"><a href="index.html"><img alt="Home" src="img/logo-semi-opacity.png" height=60 style="position: absolute; float: left; top: 5px;" /></a>
        <!--<li class="button nav-button"><a class="nav-button-link" href="index.html">Home</a>-->
	<li class="button nav-button"><a class="nav-button-link" href="play.html">Play</a>
	<li class="button nav-button"><a class="nav-button-link" href="/forums">Forums</a>
	<li class="button nav-button"><a class="nav-button-link" href="community.html">Community</a>
	<li class="button nav-button"><a class="nav-button-link" href="latest.html">Downloads</a>
    </ul>
</nav>
<main>
<section class=content>
{$article}</section>
</main>
</div>
</body>
</html>

