<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses

Copyright 2021 Lenny Andreu
-->
<!doctype html>
<html lang="en">

<head>
    {$head}
</head>
{
$has_author = defined $author;
$has_date = defined $date;

$render_author = '';
$render_date = '';

if ($has_author == 1) {

    $render_author =<<EOF;
<h3 class="author">by \@$author</h3>
EOF
							    
}
if( $has_date == 1){
      $render_date =<<EOF;
<div class="date" title="$date">Posted on $date</div>
EOF
}

'';
}
<body>
    <div class="main-container">
        {$menu}
        <main>
          <section class="content">
	    <h1>{$title}</h1>
	    {$render_author}
	    {$render_date}
            {$article}
	  </section>
        </main>
    </div>
</body>

</html>
