<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses

Copyright 2021 Lenny Andreu
-->
<!doctype html>
<html lang="en">

<head>
    {$head}
</head>

<body>
    <div class="main-container">
        {$menu}
        <main>
            <div class="splash-container" style=background-image:url(img/ingame-cut.png)>
                <div class="splash">
                    <h1 class="splash-head"><img class="main-img" alt="Seven Kingdoms Ancient Adversaries"
                            src="img/logo-semi-opacity.png" /></h1>
                    <h2 class="brief-desc">
                        <p>Enter the world of intrigue and diplomacy, of trade, conquest, and espionage.</p>
                    </h2>
                    <p><a href="latest.html" class="button button-primary">Download <small>version 2.15.4p1</small></a>
                    </p>
                </div>
            </div>
            <div class="separator"></div>
            <section class=content>
                {$article}</section>
        </main>
    </div>
</body>

</html>