@font-face {
    font-family: 'Accanthis';
    src: url('accanthis_adf_std-regular.woff2') format('woff2'),
         url('accanthis_adf_std-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Accanthis';
    src: url('accanthis_adf_std-bold.woff2') format('woff2'),
         url('accanthis_adf_std-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}